# 1) Data Preprocessing

In [1]:
import pandas as pd
df=pd.read_csv("Churn_Modelling.csv")

In [2]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Row Number ,name and Customer ID are unnecessary data we won't use with. we have to develop a model which will predict whether customer is at risk of leaving by training on previous dataset.

In [3]:
df=df.drop("RowNumber",axis=1)
df=df.drop("CustomerId",axis=1)
df=df.drop("Surname",axis=1)

In [4]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

### There is no null data in our dataset , so we have no need to impute.

### Encoding

In [6]:
import numpy as np
geo=df.iloc[:,1].values

In [7]:
geo

array(['France', 'Spain', 'France', ..., 'France', 'Germany', 'France'],
      dtype=object)

In [8]:
s=[]
unique=0
for i in geo:
    if(not (i in s)):
        s.append(i)
        unique+=1
print(unique)

3

### Total Number of Unique Countries is 3, we can perform OneHotEncoding on Geography, and LabelEncoding in Gender

In [9]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [10]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer

In [11]:
enc=LabelEncoder()
df["Gender"]=enc.fit_transform(df["Gender"])

In [12]:
x=df.iloc[:,:-1].values
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [13]:
ct=ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[1])],remainder='passthrough')
x=ct.fit_transform(x)
x.shape

(10000, 12)

In [14]:
y=df.iloc[:,-1:].values
x.shape
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

### We donot want high weights as it makes model unstable. it is always best to scale our data as it makes learning easier.

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [17]:
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

### Data Preprocessing is complete.

# 2)Building an ANN 
we make 2 6 neuron hidden layer and a output layer, which predicts probability of customer leaving

In [18]:
import tensorflow as tf

In [19]:
ann=tf.keras.models.Sequential()

In [20]:
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [21]:
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

# 3)Training and analysis

In [22]:
ann.fit(x_train,y_train,batch_size=20,epochs=100)

Epoch 1/100
400/400 [==============================] - 1s 584us/step - loss: 0.5192 - accuracy: 0.7881
Epoch 2/100
400/400 [==============================] - 0s 582us/step - loss: 0.4496 - accuracy: 0.8014
Epoch 3/100
400/400 [==============================] - 0s 547us/step - loss: 0.4306 - accuracy: 0.8125
Epoch 4/100
400/400 [==============================] - 0s 592us/step - loss: 0.4210 - accuracy: 0.8210
Epoch 5/100
400/400 [==============================] - 0s 567us/step - loss: 0.4156 - accuracy: 0.8256
Epoch 6/100
400/400 [==============================] - 0s 554us/step - loss: 0.4106 - accuracy: 0.8288
Epoch 7/100
400/400 [==============================] - 0s 584us/step - loss: 0.4069 - accuracy: 0.8295
Epoch 8/100
400/400 [==============================] - 0s 571us/step - loss: 0.4043 - accuracy: 0.8311
Epoch 9/100
400/400 [==============================] - 0s 562us/step - loss: 0.4016 - accuracy: 0.8329
Epoch 10/100
400/400 [==============================] - 0s 561us/step - loss: 0.3988 - accuracy: 0.8326
Epoch 11/100
400/400 [==============================] - 0s 577us/step - loss: 0.3949 - accuracy: 0.8349
Epoch 12/100
400/400 [==============================] - 0s 546us/step - loss: 0.3888 - accuracy: 0.8390
Epoch 13/100
400/400 [==============================] - 0s 591us/step - loss: 0.3818 - accuracy: 0.8453
Epoch 14/100
400/400 [==============================] - 0s 578us/step - loss: 0.3742 - accuracy: 0.8494
Epoch 15/100
400/400 [==============================] - 0s 589us/step - loss: 0.3679 - accuracy: 0.8515
Epoch 16/100
400/400 [==============================] - 0s 547us/step - loss: 0.3635 - accuracy: 0.8537
Epoch 17/100
400/400 [==============================] - 0s 614us/step - loss: 0.3607 - accuracy: 0.8558
Epoch 18/100
400/400 [==============================] - 0s 564us/step - loss: 0.3582 - accuracy: 0.8550
Epoch 19/100
400/400 [==============================] - 0s 595us/step - loss: 0.3564 - accuracy: 0.8547
Epoch 20/100
400/400 [==============================] - 0s 582us/step - loss: 0.3550 - accuracy: 0.8559
Epoch 21/100
400/400 [==============================] - 0s 583us/step - loss: 0.3535 - accuracy: 0.8568
Epoch 22/100
400/400 [==============================] - 0s 576us/step - loss: 0.3524 - accuracy: 0.8564
Epoch 23/100
400/400 [==============================] - 0s 567us/step - loss: 0.3514 - accuracy: 0.8568
Epoch 24/100
400/400 [==============================] - 0s 598us/step - loss: 0.3502 - accuracy: 0.8564
Epoch 25/100
400/400 [==============================] - 0s 588us/step - loss: 0.3489 - accuracy: 0.8575
Epoch 26/100
400/400 [==============================] - 0s 587us/step - loss: 0.3478 - accuracy: 0.8572
Epoch 27/100
400/400 [==============================] - 0s 580us/step - loss: 0.3469 - accuracy: 0.8570
Epoch 28/100
400/400 [==============================] - 0s 603us/step - loss: 0.3465 - accuracy: 0.8571
Epoch 29/100
400/400 [==============================] - 0s 604us/step - loss: 0.3450 - accuracy: 0.8569
Epoch 30/100
400/400 [==============================] - 0s 577us/step - loss: 0.3441 - accuracy: 0.8570
Epoch 31/100
400/400 [==============================] - 0s 579us/step - loss: 0.3438 - accuracy: 0.8581
Epoch 32/100
400/400 [==============================] - 0s 575us/step - loss: 0.3431 - accuracy: 0.8574
Epoch 33/100
400/400 [==============================] - 0s 551us/step - loss: 0.3423 - accuracy: 0.8575
Epoch 34/100
400/400 [==============================] - 0s 597us/step - loss: 0.3415 - accuracy: 0.8583
Epoch 35/100
400/400 [==============================] - 0s 564us/step - loss: 0.3405 - accuracy: 0.8596
Epoch 36/100
400/400 [==============================] - 0s 579us/step - loss: 0.3402 - accuracy: 0.8600
Epoch 37/100
400/400 [==============================] - 0s 579us/step - loss: 0.3400 - accuracy: 0.8608
Epoch 38/100
400/400 [==============================] - 0s 576us/step - loss: 0.3395 - accuracy: 0.8594
Epoch 39/100
400/400 [==============================] - 0s 577us/step - loss: 0.3389 - accuracy: 0.8602
Epoch 40/100
400/400 [==============================] - 0s 578us/step - loss: 0.3389 - accuracy: 0.8608
Epoch 41/100
400/400 [==============================] - 0s 575us/step - loss: 0.3386 - accuracy: 0.8622
Epoch 42/100
400/400 [==============================] - 0s 579us/step - loss: 0.3384 - accuracy: 0.8600
Epoch 43/100
400/400 [==============================] - 0s 556us/step - loss: 0.3375 - accuracy: 0.8611
Epoch 44/100
400/400 [==============================] - 0s 602us/step - loss: 0.3378 - accuracy: 0.8610
Epoch 45/100
400/400 [==============================] - 0s 573us/step - loss: 0.3370 - accuracy: 0.8606
Epoch 46/100
400/400 [==============================] - 0s 586us/step - loss: 0.3370 - accuracy: 0.8627
Epoch 47/100
400/400 [==============================] - 0s 557us/step - loss: 0.3367 - accuracy: 0.8622
Epoch 48/100
400/400 [==============================] - 0s 609us/step - loss: 0.3365 - accuracy: 0.8630
Epoch 49/100
400/400 [==============================] - 0s 570us/step - loss: 0.3363 - accuracy: 0.8630
Epoch 50/100
400/400 [==============================] - 0s 599us/step - loss: 0.3361 - accuracy: 0.8633
Epoch 51/100
400/400 [==============================] - 0s 589us/step - loss: 0.3357 - accuracy: 0.8615
Epoch 52/100
400/400 [==============================] - 0s 582us/step - loss: 0.3354 - accuracy: 0.8640
Epoch 53/100
400/400 [==============================] - 0s 572us/step - loss: 0.3354 - accuracy: 0.8629
Epoch 54/100
400/400 [==============================] - 0s 584us/step - loss: 0.3348 - accuracy: 0.8643
Epoch 55/100
400/400 [==============================] - 0s 577us/step - loss: 0.3353 - accuracy: 0.8634
Epoch 56/100
400/400 [==============================] - 0s 571us/step - loss: 0.3350 - accuracy: 0.8637
Epoch 57/100
400/400 [==============================] - 0s 572us/step - loss: 0.3346 - accuracy: 0.8631
Epoch 58/100
400/400 [==============================] - 0s 579us/step - loss: 0.3345 - accuracy: 0.8624
Epoch 59/100
400/400 [==============================] - 0s 582us/step - loss: 0.3343 - accuracy: 0.8626
Epoch 60/100
400/400 [==============================] - 0s 580us/step - loss: 0.3341 - accuracy: 0.8641
Epoch 61/100
400/400 [==============================] - 0s 567us/step - loss: 0.3341 - accuracy: 0.8630
Epoch 62/100
400/400 [==============================] - 0s 571us/step - loss: 0.3339 - accuracy: 0.8640
Epoch 63/100
400/400 [==============================] - 0s 585us/step - loss: 0.3337 - accuracy: 0.8637
Epoch 64/100
400/400 [==============================] - 0s 590us/step - loss: 0.3337 - accuracy: 0.8643
Epoch 65/100
400/400 [==============================] - 0s 573us/step - loss: 0.3331 - accuracy: 0.8646
Epoch 66/100
400/400 [==============================] - 0s 549us/step - loss: 0.3339 - accuracy: 0.8637
Epoch 67/100
400/400 [==============================] - 0s 580us/step - loss: 0.3333 - accuracy: 0.8636
Epoch 68/100
400/400 [==============================] - 0s 579us/step - loss: 0.3331 - accuracy: 0.8635
Epoch 69/100
400/400 [==============================] - 0s 550us/step - loss: 0.3335 - accuracy: 0.8631
Epoch 70/100
400/400 [==============================] - 0s 593us/step - loss: 0.3330 - accuracy: 0.8622
Epoch 71/100
400/400 [==============================] - 0s 592us/step - loss: 0.3327 - accuracy: 0.8648
Epoch 72/100
400/400 [==============================] - 0s 588us/step - loss: 0.3329 - accuracy: 0.8641
Epoch 73/100
400/400 [==============================] - 0s 601us/step - loss: 0.3327 - accuracy: 0.8631
Epoch 74/100
400/400 [==============================] - 0s 585us/step - loss: 0.3325 - accuracy: 0.8627
Epoch 75/100
400/400 [==============================] - 0s 587us/step - loss: 0.3324 - accuracy: 0.8636
Epoch 76/100
400/400 [==============================] - 0s 611us/step - loss: 0.3324 - accuracy: 0.8637
Epoch 77/100
400/400 [==============================] - 0s 617us/step - loss: 0.3322 - accuracy: 0.8655
Epoch 78/100
400/400 [==============================] - 0s 594us/step - loss: 0.3320 - accuracy: 0.8646
Epoch 79/100

400/400 [==============================] - 0s 585us/step - loss: 0.3319 - accuracy: 0.8634
Epoch 80/100
400/400 [==============================] - 0s 580us/step - loss: 0.3321 - accuracy: 0.8639
Epoch 81/100
400/400 [==============================] - 0s 583us/step - loss: 0.3316 - accuracy: 0.8662
Epoch 82/100
400/400 [==============================] - 0s 554us/step - loss: 0.3315 - accuracy: 0.8652
Epoch 83/100
400/400 [==============================] - 0s 573us/step - loss: 0.3312 - accuracy: 0.8629
Epoch 84/100
400/400 [==============================] - 0s 593us/step - loss: 0.3309 - accuracy: 0.8631
Epoch 85/100
400/400 [==============================] - 0s 568us/step - loss: 0.3313 - accuracy: 0.8637
Epoch 86/100
400/400 [==============================] - 0s 588us/step - loss: 0.3301 - accuracy: 0.8639
Epoch 87/100
400/400 [==============================] - 0s 527us/step - loss: 0.3309 - accuracy: 0.8631
Epoch 88/100
400/400 [==============================] - 0s 564us/step - loss: 0.3308 - accuracy: 0.8634
Epoch 89/100
400/400 [==============================] - 0s 521us/step - loss: 0.3306 - accuracy: 0.8644
Epoch 90/100
400/400 [==============================] - 0s 581us/step - loss: 0.3302 - accuracy: 0.8649
Epoch 91/100
400/400 [==============================] - 0s 550us/step - loss: 0.3305 - accuracy: 0.8636
Epoch 92/100
400/400 [==============================] - 0s 580us/step - loss: 0.3299 - accuracy: 0.8631
Epoch 93/100
400/400 [==============================] - 0s 561us/step - loss: 0.3305 - accuracy: 0.8634
Epoch 94/100
400/400 [==============================] - 0s 558us/step - loss: 0.3302 - accuracy: 0.8648
Epoch 95/100
400/400 [==============================] - 0s 554us/step - loss: 0.3297 - accuracy: 0.8635
Epoch 96/100
400/400 [==============================] - 0s 566us/step - loss: 0.3297 - accuracy: 0.8631
Epoch 97/100
400/400 [==============================] - 0s 564us/step - loss: 0.3296 - accuracy: 0.8626
Epoch 98/100
400/400 [==============================] - 0s 564us/step - loss: 0.3295 - accuracy: 0.8649
Epoch 99/100
400/400 [==============================] - 0s 562us/step - loss: 0.3298 - accuracy: 0.8648
Epoch 100/100
400/400 [==============================] - 0s 553us/step - loss: 0.3299 - accuracy: 0.8634

# Analysis with Test set:

In [23]:
ypred=ann.predict(x_test)

63/63 [==============================] - 0s 662us/step

In [24]:
for i in range(0,2000):
    if(ypred[i]>0.5):
        ypred[i]=1
    else:
        ypred[i]=0

In [25]:
from sklearn.metrics import classification_report,confusion_matrix
cm=confusion_matrix(y_test,ypred)
cr=classification_report(y_test,ypred)
print(cr)

              precision    recall  f1-score   support

           0       0.87      0.96      0.92      1582
           1       0.78      0.48      0.59       418

    accuracy                           0.86      2000
   macro avg       0.83      0.72      0.75      2000
weighted avg       0.85      0.86      0.85      2000

In [26]:
print(cm)

[[1525   57]
 [ 219  199]]